/* 颜色选择面板样式 */

#palette {
  display: block;
  position: absolute;
  z-index: 2;
  bottom: 405px;
  width: 250px;
  right: 200px;
  height: 80px;
}

.palette_item {
  height: 20%;
  width: 6%;
  float: left;
  cursor: url(../images/eyedropper.png) 0 16, crosshair;
  border: #fff 1px solid;
}

.palette_item.transparent,
.palette_item.white,
.palette_item.black {
  background: #fff;
  position: absolute;
  width: 20px;
  height: 20px;
  left: -20px;
  top: 0;
  border: #fff 1px solid;
}

.palette_item.transparent {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAAVdEVYdENyZWF0aW9uIFRpbWUAOC8yMi8xMg1cp6sAAABESURBVBiVjdBBCgAgCETRr/e/87SJKFPLnfIcQRMIwMBIShIAvgZzoSrfkzrs8WyF1+kX9r3p8AE7nL7kSpSshN+JEQ8GixkF0mSevgAAAABJRU5ErkJggg==);
}

.palette_item.black {
  background: #000;
  top: 20px;
}

.palette_item.white {
  background: #fff;
  top: 40px;
}
